$textcolor:white;
$bluecolor:blue;

.navbar{
    position: fixed !important;
    width: 100%;
    background-color: rgba(1, 1, 15, 0.442) !important;
    .container-fluid{
        .navbar-brand{
            margin-left: 5%;
        }
        #mynavbar{
            margin-left: 35%;
            .navbar-nav{
                gap: 30px;
                .nav-link{
                    color: $textcolor;
                    font-weight: bold;
                }
            }
        }
    }
}

#home
{
    background-image: url('../img/trees-bg.png') !important;
    background-size: cover;
    height: 100vh;
    .container{
        height: 100%;
    }
    }
    .wrapper{
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-title{
            text-align: center;
            width: 500px;
            color: $textcolor;
            position: relative;
            padding: 10px;
            &::before{
                position: absolute;
                content: '';
                width: 50px;
                height: 5px;
                background-color: $bluecolor;
                top: 100%;
                left: 45%;
            }
        }
        
        &-text{
            padding-top: 20px;
            width: 800px;
            text-align: center;
            color: $textcolor;
        }
        &-btn{
            padding: 10px 20px;
            background-color: transparent !important;
            border: 2px solid $bluecolor;
            border-radius: 10px;
            color: $bluecolor;
            font-weight: bold;
            font-size: 20px;
            transition: 0.4s;
            &:hover{
             background-color: $bluecolor !important; 
             border: 2px solid $textcolor;
             color: $textcolor;  
            }
        }
      
        }
    .boxes{
        height: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 10px;
        margin-top: -10%;
        .box{
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 2px solid $textcolor;
            color: transparent !important;
            border-radius: 50%;
        }
        .box-1{
            background-color: $bluecolor;
        }
}

#story{
    
    height: 125vh;
    display: flex;
    flex-direction: column;
    .row{
        .row-1{
         padding: 20px;   
        height: 45vh;   
         align-items: center;
        }
        .col-md-6{
            img{
                padding-left: 35%;
                width: 70%;
            }
        }
        .wrapper{
            width: 70%;
            &-title{
                color: $bluecolor;
                
            }
            &-text{
                color: $bluecolor;
            }
            &-btn{
                padding: 10px 20px;
                background-color: transparent !important;
                border: 2px solid $bluecolor;
                border-radius: 10px;
                color: $bluecolor;
                font-weight: bold;
                font-size: 20px;
                transition: 0.4s;
            }

        }
    }
    .row-2{
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../img/story-bg.png);
        background-size: cover;
        h2{
            color: $textcolor;
            padding-top: 20px !important;
        }
}

}
.container{
    .top{
        .chiziq{
            border-bottom: solid 5px gray;
            width: 70px;
           margin-left: 750px;
        }
    }
    .help{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }
}
.chiziq{
    border-bottom: solid 5px gray;
    width: 70px;
   margin-left: 950px;
}
.meet{
    background-image: url('../img/trees-bg.png') !important;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}
